body {
    font-family: "IBM Plex Mono", monospace;
}

a.icon-link:link {
    text-decoration: none;
}

h1 {
    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
    font-size: 4em;
}

h2 {
    font-family: "Fugaz One", sans-serif;
    font-size: 2em;
}

.trophy-pic {
    font-size: 5em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.vid-placeholder {
    aspect-ratio: 16/9;
    max-width: 60%;
    margin: 0 auto;
}