:root {
    --cool-shadow-primary: 2px 2px 0 var(--bs-black), 4px 4px 0 var(--bs-primary);
    --cool-shadow-secondary: 2px 2px 0 var(--bs-black), 4px 4px 0 var(--bs-secondary);
}

body {
    font-family: "IBM Plex Mono", monospace;
}

a.icon-link:link {
    text-decoration: none;
}

h1 {
    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    text-shadow: var(--cool-shadow-secondary);
}

h2 {
    color: #eee;
    font-family: "Fugaz One", sans-serif;
    font-size: 2em;
}

.vid-placeholder {
    aspect-ratio: 16/9;
    max-width: 60%;
    margin: 0 auto;
}